// $("#result").html("<%#=j render partial: 'shared/work', locals: { json_1: @json_1, json_2: @json_2 } %>");
$("#result").html("#{j render partial: 'shared/work'}");

- if @error
    $("#error").html("#{ @error }")
