- if @weather_show
  = render partial: "shared/weather", locals: { weather_show: @weather_show, json_key: :json_openweathermap }
  = render partial: "shared/weather", locals: { weather_show: @weather_show, json_key: :json_wunderground }